<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UniApplikation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <UniApplikation.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="CoursesXMLPath" serializeAs="String">
                <value>../../CoursesList.xml</value>
            </setting>
            <setting name="StudentsXMLPath" serializeAs="String">
                <value>../../StudentsList.xml</value>
            </setting>
        </UniApplikation.Properties.Settings>
    </applicationSettings>
</configuration>