<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SetCoursesAlgo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SetCoursesAlgo.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>../../Log.txt</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="MaxCalculations" serializeAs="String">
                <value>25</value>
            </setting>
        </SetCoursesAlgo.Properties.Settings>
    </userSettings>
</configuration>